@model EFdbAquarium.Models.Aquarium
@{
    ViewBag.Title = "Редагування акваріуму";
}
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Shape" class="control-label">Форма</label>
        <input type="text" asp-for="Shape" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Volume" class="control-label">Об'єм</label>
        <input type="text" asp-for="Volume" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Filter" class="control-label">Фільтр</label>
        <input type="text" asp-for="Filter" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Compressor" class="control-label">Компресор</label>
        <input type="text" asp-for="Compressor" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Ціна</label>
        <input type="text" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-success" />
    </div>
</form>